.topbar {
  background-color: #ffff66;
  height: 10px;
}

.clear {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.logo {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topbar-section {
  float: left;
}

.signinbar {
  width: 30px;
  margin-left: 10px;
  margin-right: 5px;
  float: left;
}

.signin-div {
  margin-left: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.signin-div a {
  text-decoration: none;
  color: black;
}

.signintext {
  position: relative;
  top: 7px;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  color: black;
}

.back {
  background-color: #ffff66;
}

.dropbtn {
  background-color: #ffff66;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */

.dropbtn:hover, .dropbtn:focus {
  background-color: #b35900;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
  display: block;
}

/* Navbar container */

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */

.navbar a {
  float: left;
  font-size: 21px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */

.dropdown_menu {
  float: left;
  overflow: hidden;
}

/* Dropdown button */

.dropdown_menu .dropbtn_menu {
  font-size: 21px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 18px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */

.navbar a:hover, .dropdown_menu:hover .dropbtn_menu {
  background-color: red;
}

/* Dropdown content (hidden by default) */

.dropdown_menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown_menu-content a {
  float: none;
  color: black;
  padding: 10px 18px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */

.dropdown_menu-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */

.dropdown_menu:hover .dropdown_menu-content {
  display: block;
}

.right {
  float: right;
  margin-right: 10px;
}

.padd {
  padding: 20px;
}

.middle {
  margin-left: 40px;
  margin-right: 40px;
}

.middletop {
  margin-top: 20px;
}

.middlenotop {
  margin-bottom: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

button {
  background-color: #ffff66;
  color: black;
  font-size: 20px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #b35900;
}

/* Extra styles for the cancel button */

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.loginbar {
  margin-left: 5px;
  margin-right: 10px;
}

.space {
  background-color: #ffffff;
  height: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.appsize {
  width: 50px;
}

.center95 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.center30 {
  display: block;
  margin-left: 20px;
  width: 20%;
  float: left;
}
